
.App {
  /* margin: 20px auto; */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  position: relative;
  width: 1379px;
  margin: auto;
}

.press_enter {
  margin: auto;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.bulletins {
  margin: auto;
}

.bulletin {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 36px;
  gap: 24px;
  width: 1160px;
  height: 542px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 20px;
  position: relative;
}

.bulletin:focus {
  border: 3px solid #000;
}

.approve::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background: #88BD35;
  border-radius: 3px;
  position: absolute;
  top: 16px;
  left: 10px;
}

.decline::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background: #F7882E;
  border-radius: 3px;
  position: absolute;
  top: 16px;
  left: 10px;
}

.escalate::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  background: #1764CC;
  border-radius: 3px;
  position: absolute;
  top: 16px;
  left: 10px;
}

.bulletin__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: 44px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.bulletin__header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 20px;
  gap: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.bulletin__header_rectangle {
  height: 1px;
  background: #E4E4E4;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.bulletin__header_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 979px;
  height: 16px;
}

.bulletin__header_info_id {
  width: 63px;
  height: 16px;
  color: #1764CC;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.bulletin__header_info_dash {
  width: 14px;
  height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bulletin__header_info_time {
  width: 94px;
  height: 16px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.bulletin__header_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 117px;
  height: 19px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bulletin__header_user_logo {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bulletin__header_user_name {
  width: 92px;
  height: 19px;
  line-height: 18px;
  color: #1764CC;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bulletin__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;
  gap: 8px;
  height: 438px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.bulletin__main_subject {
  height: 28px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.bulletin__main_subject_title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.bulletin__main_subject_block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1120px;
  height: 402px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.bulletin__main_subject_text_block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0px 0px;
  gap: 10px;
  width: 776px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.bulletin__main_subject_text {
  font-size: 15px;
  line-height: 22px;
}

.bulletin__main_subject_rectangle {
  width: 1px;
  height: 402px;
  background: #E4E4E4;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.bulletin__main_subject_gallery {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px 0px;
  gap: 16px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.bulletin__main_subject_img {
  width: 191px;
  height: 165px;
  
}

/* Modal styles */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.modal__content {
  width: 500px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.modal__header, .modal__footer {
  padding: 10px;
}

.modal__title {
  margin: 0;
}

.modal__body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal__body textarea {
  width: 99%;
  height: 150px;
}

.modal_error {
  border: 1px solid red;
}

/* Info styles */

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 180px;
  height: 92px;
  position: sticky;
  top: 20px;
  /* right: 5%; */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info__approve, .info__decline, .info__escalate, .info__save {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  height: 17px;
}

.info__approve {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.info__approve_name, .info__decline_name, .info__escalate_name, .info__save_name {
  width: 71px;
  height: 17px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.info__approve_color, .info__decline_color, .info__escalate_color {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info__approve_color {
  background: #88BD35;
}

.info__approve_key, .info__decline_key, .info__escalate_key, .info__save_key {
  width: 85px;
  height: 17px;;
  color: #777777;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.info__decline {
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.info__decline_color {
  background: #F7882E;
  
}

.info__escalate_color {
  background: #1764CC;
}

.info__escalate {
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.info__save {
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.attention {
  text-align: center;
  color: red;
}